.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.editor-container {
    margin-right: 30px;
}

.editor-row {
    width: 90vw;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
}

.app-container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

.notifications-tr {
    /* nadpisanie domyslnej szerokosci powiadomienia. Important poniewaz nadpisuje style inline */
    width: 400px !important;
}

.fontHallelujah {
    font-family: 'Gloria Hallelujah', cursive;
}

.rowCentered {
    display: flex;
    justify-content: left;
    align-items: center;
}